<link rel="import" href="../polymer/polymer.html" />

<link rel="import" href="../iron-flex-layout/iron-flex-layout.html" />

<link rel="import" href="../paper-spinner/paper-spinner.html" />

<dom-module id="overlay-loading">
	<template>
		<style>
			:host {
				@apply(--layout-fit);
				@apply(--layout-center-center);
				z-index: 1;
				display: none;
				
				background-color: var(--iron-overlay-backdrop-background-color, rgba(128, 128, 128, 0.6));
				
				opacity: 0;
				transition: all 0.25s ease 0s;
				cursor: wait;
			}
			
			:host([opened]),
			:host[opened] {
				@apply(--layout);
				opacity: 1;
			}
		</style>
		<content>
			<paper-spinner active></paper-spinner>
		</content>
	</template>
	<script type="application/javascript">
		"use strict";
		Polymer({
			is: 'overlay-loading',
			properties: {
				opened: {
					type: Boolean,
					reflectToAttribute: true,
				}
			},
			toggle: function(opened) {
				this.opened = !this.opened;
			},
			open: function() {
				this.opened = true;
			},
			close: function() {
				this.opened = false;
			},
		});
	</script>
</dom-module>
